html {
    height: 100%;
}

#container {
    width:100%;
    margin-top:20%;
display: inline-flex;
    justify-content: space-around;
}

#container p{
    font-family: 'Zen Loop', cursive;
    font-size: 2em;
    color:white;
}

h1{
    font-family: 'Zen Tokyo Zoo', cursive;
    color : white;
    font-size: 4em;
    position : absolute;
    left:50%;

    transform: translate(-50%);
}

body {
    height:100%;
    background-attachment: fixed;
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
}

#board {
    /*position : absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);*/
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows-rows: 100px 100px 100px;

}

.box {
    width: 95px;
    height:95px;
    background-color: red;
    padding-bottom : 5px;
    background-clip: content-box;
    border-radius: 15px;



}

.no-ownership {
    background-color: lightgrey;
}
.no-ownership:hover {
    background-color: grey;
}

.player {
    -webkit-animation: rotate 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: lightcoral;
    background-image: url("images/boy.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.ia {
    -webkit-animation: rotate 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: cornsilk;
    background-image: url("images/bot.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.score {
    font-size: 4em;
    color:white;
    font-family: 'Zen Tokyo Zoo', cursive;

}



.invalid {
    background: red;
    background-image: url("images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
}



.rotate-90-cw {

}


@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes rotate{
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
